.Form{
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
}
@media screen and (max-width:480px){
    .Form{
        margin-top: 40px;
    }
}

.Form-Item {
    border-top: 1px solid #ddd;
    padding-top: 24px;
    padding-bottom: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}
@media screen and(max-width:480px) {
    .Form-Item{
        padding-left: 14px;
        padding-right: 14px;
        padding-top: 16px;
        padding-bottom: 16px;
        flex-wrap: wrap;
    }
}



.Form-Item-Label{
    width: 100%;
    max-width: 248px;
    letter-spacing: 0.05em;
    font-weight: bold;
    font-size: 18px;
}

@media screen and(max-width:480px){
    .Form-Item-Label{
        max-width: inherit;
        display: flex;
        align-items: center;
        font-size: 15px;
    }
}


.Form-Item-Label.isMsg{
    margin-top: 8px;
    margin-bottom: auto;
} 

@media screen and(max-width:480px){
    .Form-Item-Label.isMsg{
        margin-top: 0;
    } 
}

.Form-Item-Label-Required{
    border-radius : 6px;
    margin-right: 6px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 48px;
    display: inline-block;
    text-align: center;
    color: #fff;
    background: #5bc8ac;
    font-size: 14px;
}

@media screen and(max-width: 480px){
    .Form-Item-Label-Required{
        border-radius: 4px;
        padding-top: 4px;
        padding-bottom: 4px; 
        width: 32px;
        font-size: 10px;
    }
  
}

.Form-Item-Input{
    border: 1px solid #ddd ;
    border-radius: 6px;
    margin-left: 40px;
    padding-left: 1em;
    padding-right: 1em;
    height: 48px;
    flex: 1;
    width: 100%;
    max-width: 410px;
    background: #eaedf2;
    font-size: 18px;
}

.Form-Item-Input-white{
    border: 1px solid #ddd ;
    border-radius: 6px;
    margin-left: 40px;
    padding-left: 1em;
    padding-right: 1em;
    height: 48px;
    flex: 1;
    width: 100%;
    max-width: 410px;
    font-size: 18px;
}

.Form-Item-Input-gender{
    border-radius: 6px;
    margin-left: 40px;
    padding-left: 1em;
    padding-right: 1em;
    height: 48px;
    flex: 1;
    width: 100%;
    max-width: 410px;
    font-size: 18px;
}

@media screen and (max-width: 480px){
    .Form-Item-Input{
      margin-left: 0;
      margin-top: 18px;
      height: 40px;
      flex: inherit;       
      font-size: 15px;
    }
    
}

.Form-Item-Textarea {
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-left: 40px;
    padding-left: 1em;
    padding-right: 1em;
    height: 216px;
    flex: 1;
    width: 100%;
    max-width: 410px;
    background: #eaedf2;
    font-size: 18px;
}
@media screen and (max-width:480px) {
    .Form-Item-Textarea {
        margin-top: 18px;
        margin-left: 0;
        height: 200px;
        flex: inherit;
        font-size: 15px;
    }  
}


.Form-Btn {
    border-radius : 6px;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 180px;
    display: block;
    letter-spacing: 0.05em;
    background-color: #5bc8ac;
    color: #FFF;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    transition: .4s;
}

@media screen and(max-width: 480px) {
   .Form-Btn {
    margin-top: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 160px;
    font-size: 16px;
   }
}

.Form-Btn:hover {
    background-color :#FFF;
    border-color: #0a0a0a;
    color: #001306;
    opacity: 0.3;
}

.error-message{
    color :#ff0000;
    margin-left: 40px;
    padding-left: 1em;
    padding-right: 1em;
}

.wrap {
    display:flex;
    align-items: center;
    justify-content: center;
  }

  .Form-thanks{
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-weight: bold;
    font-size: 40px;
    color: #2e8b57;
    background-color: #d5edda;
    max-width: 720px;
    padding: 10px;
  }

  .Form-confirm{
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
    border-top: 1px solid #ddd;
    padding-top: 24px;
    padding-bottom: 24px;
    width: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    letter-spacing: 0.05em;
    font-weight: bold;
    font-size: 18px;
  }



@media screen and (max-width:480px){
    .Form-confirm{
        margin-top: 40px;
        padding-left: 14px;
        padding-right: 14px;
        padding-top: 16px;
        padding-bottom: 16px;
        flex-wrap: wrap;
        max-width: inherit;
        display: flex;
        align-items: center;
        font-size: 15px;
    }
}


/* login　↓ */
.container {
    border-top: 20px solid #4CAF93;
    display: flex;
    align-items: center;
    justify-content: center;
   
    
}

/* justify-content-centerというクラスは思わぬ挙動を起こすため定義しないほうがいいです。 */
.login-center{
    line-height: 250%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    width: 300px;
    height: 300px;
    padding: 80px;
    
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}


/* 管理画面 */
.card-header{
    text-align: center;
    font-size: 30px;
}


/* 入力欄 */
.form-control {
    width: 295px;
    height: 30px;
}

.is-invalid {
    /* border-color: #c20c33; */
	background-color: #ffd9e1;
}



/* ボタン */
.btn-primary {
    font-size: 25px;
    background-color: #4CAF93;
    color: #ffffff;
    width: 300px;
    height: 50px;
    border-radius: 5%;
    border: 0px;
    cursor: pointer;
}

.col-md-8 {
    text-align: left
}

/* エラーメッセージ　 */
.invalid-feedback{
    color: #ff0000;
}


/* ホーム画面　↓ */


/* 管理者 */
.main-part {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  width: (100% - 150%)
  font-style: normal;
}


.main-part .administrator {
    height: 24px;
    box-sizing: border-box;
    text-align: right;
    padding: 30px;

}


/* TOP */
.main-part  .content .content-top {
  box-sizing: border-box;
  background-color: #F7F7F7;
  padding: 20px;
}

.main-part .content .content-home {
  height: 264px;
  box-sizing: border-box;
  background-color: #F5F9FC;
  padding: 50px 0px 50px 178px;
 
}

/* HOME */

.home {
  padding: 20px;
}

.main-part .content .content-home .home {
  font-size: 32px;
  padding: 50px 0px;
  margin-left: 72px;
  /* text-align: center; */
}

.main-part  .content .content-home .member {
  background-color: white;
  padding: 30px;
  width: 95%;
  /* width: 300px; */
  height: 330px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}



/* 会員登録 */
.main-part  .content .content-home .member .member-registration {
  font-size: 24px;
  color: #4CAF93;
  padding: 30px;
  /* text-align: center; */
}

/* 会員一覧 */
.main-part  .content .content-home .member .membership-roll {
  width: 100px;
  font-size: 20px;
  color: black;
  background-color: #F7F7F7;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding: 30px 10px;
}








/* 　スライドバー */
.sidebar {
    position: fixed;
    left: 0;
    background-color: #4CAF93;
    width: 150px;
    height: 100%;
    text-align: left;
    list-style: none;
    color: #fff;
    padding: 0px;
    
    

}

/*  スライドバー　閉まったとき */
.sidebar.shrunk {
  width: 72px;
  padding: 20px 10px;
}

.sidebar ul {
    list-style: none;
    

}

.sidebar ul li {
    padding: 20px 0 20px 0;
    display: flex;
    align-items: center;

}

  /* .sidebar .hamburger {
    width: 80px;
  } */
 
  .side-button {
    border-bottom: 1px solid #ffffff;
    padding: 15px 0;
  }

  .side-button .shrunk{
    border-bottom: 0px;
  }


  .sidebar .sidebar-home-icon {
    color: #fff;
    text-decoration: none; 
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
 
  .sidebar .sidebar-home {
    color: #fff;
    text-decoration: none; 
    padding-left: 5px;
    padding-top: 5px;
  }

  .sidebar .sidebar-register {
    color: #fff;
    text-decoration: none; 
    padding-left: 5px;
    padding-top: 5px;
  }

  .sidebar .shrunk .sidebar-register  {
    text-indent:100%;
	  white-space:nowrap;
	  overflow:hidden;
  }

/* ハンバーガー */
 .hamburger {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50px;
    flex: 0 0 50px; 
    text-align: right;
    width: 100%;
    -webkit-transition-property: width;
    transition-property: width;
    -webkit-transition-duration: .15s;
    transition-duration: .15s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    border: 0;
    padding: 0;
    background: 0 0;
}

.hamburger-menu {
    width: 50px;
    height: 50px;
    position: relative;
    border: none;
    background: transparent;
    appearance: none;
    padding: 10px;
    cursor: pointer;
    text-align:right;
  }


  .hamburger-menu__bar {
    display: inline-block;
    width: 44%;
    height: 2px;
    background: #ffffff;
    position: absolute;
    margin-right: 8px;
  }
  .hamburger-menu__bar:first-child {
    top: 16px;
  }
  .hamburger-menu__bar:nth-child(2) {
    top: 24px;
  }
  .hamburger-menu__bar:last-child {
    top: 32px;
  }


.logout {
  /* margin-top:500px; */
  /* text-align:center; */
}



.btn-logout {
  /* margin-top:500px; */
  /* display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 120px;
	margin: 45px auto; */
	padding: 3px;
  border-radius: 5px;
	font-weight: bold;
	border: 2px solid #4CAF93;
	color: #4CAF93;
	transition: 0.5s;
}

.btn-logout:hover {
	color: #fff;
	background: #4CAF93;
}