.Form{
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
}
@media screen and (max-width:480px){
    .Form{
        margin-top: 40px;
    }
}

.Form-Item {
    border-top: 1px solid #ddd;
    padding-top: 24px;
    padding-bottom: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}
@media screen and (max-width:480px) {
    .Form-Item{
        padding-left: 14px;
        padding-right: 14px;
        padding-top: 16px;
        padding-bottom: 16px;
        flex-wrap: wrap;
    }
}



.Form-Item-Label{
    width: 100%;
    max-width: 248px;
    letter-spacing: 0.05em;
    font-weight: bold;
    font-size: 18px;
}

@media screen and (max-width:480px){
    .Form-Item-Label{
        max-width: inherit;
        display: flex;
        align-items: center;
        font-size: 15px;
    }
}


.Form-Item-Label.isMsg{
    margin-top: 8px;
    margin-bottom: auto;
} 

@media screen and (max-width:480px){
    .Form-Item-Label.isMsg{
        margin-top: 0;
    } 
}

.Form-Item-Label-Required{
    border-radius : 6px;
    margin-right: 6px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 48px;
    display: inline-block;
    text-align: center;
    color: #fff;
    background: #5bc8ac;
    font-size: 14px;
}

@media screen and (max-width: 480px){
    .Form-Item-Label-Required{
        border-radius: 4px;
        padding-top: 4px;
        padding-bottom: 4px; 
        width: 32px;
        font-size: 10px;
    }
  
}

.Form-Item-Input{
    border: 1px solid #ddd ;
    border-radius: 6px;
    margin-left: 40px;
    padding-left: 1em;
    padding-right: 1em;
    height: 48px;
    flex: 1;
    width: 100%;
    max-width: 410px;
    background: #eaedf2;
    font-size: 18px;
}

.Form-Item-Input-white{
    border: 1px solid #ddd ;
    border-radius: 6px;
    margin-left: 40px;
    padding-left: 1em;
    padding-right: 1em;
    height: 48px;
    flex: 1;
    width: 100%;
    max-width: 410px;
    font-size: 18px;
}

.Form-Item-Input-gender{
    border-radius: 6px;
    margin-left: 40px;
    padding-left: 1em;
    padding-right: 1em;
    height: 48px;
    flex: 1;
    width: 100%;
    max-width: 410px;
    font-size: 18px;
}

@media screen and (max-width: 480px){
    .Form-Item-Input{
      margin-left: 0;
      margin-top: 18px;
      height: 40px;
      flex: inherit;       
      font-size: 15px;
    }
    
}

.Form-Item-Textarea {
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-left: 40px;
    padding-left: 1em;
    padding-right: 1em;
    height: 216px;
    flex: 1;
    width: 100%;
    max-width: 410px;
    background: #eaedf2;
    font-size: 18px;
}
@media screen and (max-width:480px) {
    .Form-Item-Textarea {
        margin-top: 18px;
        margin-left: 0;
        height: 200px;
        flex: inherit;
        font-size: 15px;
    }  
}


.Form-Btn {
    border-radius : 6px;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 180px;
    display: block;
    letter-spacing: 0.05em;
    background-color: #5bc8ac;
    color: #FFF;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    transition: .4s;
}

@media screen and(max-width: 480px) {
   .Form-Btn {
    margin-top: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 160px;
    font-size: 16px;
   }
}

.Form-Btn:hover {
    background-color :#FFF;
    border-color: #0a0a0a;
    color: #001306;
    opacity: 0.3;
}

.error-message{
    color :#ff0000;
    margin-left: 40px;
    padding-left: 1em;
    padding-right: 1em;
}



.wrap {
    display:flex;
    align-items: center;
    justify-content: center;
  }

  .Form-thanks{
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-weight: bold;
    font-size: 40px;
    color: #2e8b57;
    background-color: #d5edda;
    max-width: 720px;
    padding: 10px;
  }

  .Form-confirm{
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
    border-top: 1px solid #ddd;
    padding-top: 24px;
    padding-bottom: 24px;
    width: 100%;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    font-weight: bold;
    font-size: 18px;
  }



@media screen and (max-width:480px){
    .Form-confirm{
        margin-top: 40px;
        padding-left: 14px;
        padding-right: 14px;
        padding-top: 16px;
        padding-bottom: 16px;
        flex-wrap: wrap;
        max-width: inherit;
        display: flex;
        align-items: center;
        font-size: 15px;
    }
}


/* login　↓ */
.containerLogIn {
    border-top: 20px solid #4CAF93;
    display: flex;
    align-items: center;
    justify-content: center;
   
    
}

/* justify-content-centerというクラスは思わぬ挙動を起こすため定義しないほうがいいです。 */
.login-center{
    line-height: 250%;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    width: 300px;
    height: 300px;
    padding: 80px;
    
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}


/* 管理画面 */
.card-header{
    text-align: center;
    font-size: 30px;
}


/* 入力欄 */
.form-control {
    width: 295px;
    height: 30px;
}

.is-invalid {
    /* border-color: #c20c33; */
	background-color: #ffd9e1;
}



/* ボタン */
.btn-primary {
    font-size: 25px;
    background-color: #4CAF93;
    color: #ffffff;
    width: 300px;
    height: 50px;
    border-radius: 5%;
    border: 0px;
    cursor: pointer;
}

.col-md-8 {
    text-align: left
}

/* エラーメッセージ　 */
.invalid-feedback{
    color: #ff0000;
}


/* ホーム画面　↓ */


/* 管理者 */
.main-part {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  width: calc(100% - 150px);
  font-style: normal;
  margin-left: auto;
}

.main-part-shrunk {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  width: calc(100% - 80px);
  font-style: normal;
  margin-left: auto;
}



.administrator {
    height: 24px;
    box-sizing: border-box;
    text-align: right;
    padding: 30px;

}


/* TOP */
.content-top {
  box-sizing: border-box;
  background-color: #F7F7F7;
  padding: 50px;
}

.content-home {
  /* height: 264px; */
  box-sizing: border-box;
  background-color: #F5F9FC;
  /* padding: 50px 0px 50px 178px; */
 
}

/* HOME */

.home {
  padding: 20px;
}

.home-screen {
  font-size: 32px;
  padding: 50px 0px;
  margin-left: 72px;
  /* text-align: center; */
}

.member {
  background-color: white;
  padding: 30px 30px 140px 30px;
  width: 93%;
  /* width: 300px; */
  height: auto;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}



/* 会員登録 */
.member-registration {
  font-size: 24px;
  color: #4CAF93;
  padding: 30px;
  text-align: center;
  /* text-align: center; */
}

/* 会員一覧 */
.membership-roll {
  width: 100px;
  font-size: 20px;
  color: black;
  background-color: #F7F7F7;
  /* margin-left: auto; */
  margin-right: auto;
  text-align: left;
  padding: 15px 31px;
  text-align: center;
  margin: 0 auto;
}








/* 　スライドバー */
.sidebar {
    position: fixed;
    left: 0;
    background-color: #4CAF93;
    width: 180px;
    height: 100%;
    text-align: left;
    list-style: none;
    color: #fff;
    padding: 0px;
    
    

}

/*  スライドバー　閉まったとき */
.sidebar.shrunk {
    width: 80px;
}

.sidebar ul {
    list-style: none;
}

/* .sidebar ul li {
    padding: 20px 0 20px 0;
    display: flex;
    align-items: center;

} */

  /* .sidebar .hamburger {
    width: 80px;
  } */
 
  .side-button {
    border-bottom: 1px solid #ffffff;
    padding: 20px 0;
    display: flex;
    align-items: flex-end;
  }

  .side-button i {
    padding-left: 7px;
     /* アイコンとテキストがずれていたので 教えて頂いたalign-items: flex-end;で直った */
     /* margin-bottom: 1px; */
  }

  .side-button .shrunk{
    border-bottom: 0px;
  }


  /* .sidebar .sidebar-home-icon, .sidebar .sidebar-home {
    color: #fff;
    text-decoration: none; 
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
 

  .sidebar .sidebar-register {
    color: #fff;
    text-decoration: none; 
    padding-left: 5px;
    padding-top: 5px;
  }

  .sidebar .shrunk .sidebar-register  {
    text-indent:100%;
	  white-space:nowrap;
	  overflow:hidden;
  } */

  .sidebar-icon {
    color: #fff;
    text-decoration: none; 
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .sidebar-icon .shrunk {
    text-indent:100%;
    white-space:nowrap;
    overflow:hidden;
  }

  .sidebar_menu {
    font-size: 16px;
  }

  .sidebar_menu_inquiry {
    font-size: 16px;
    white-space: nowrap
  }



/* ハンバーガー */
 .hamburger {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50px;
    flex: 0 0 50px; 
    text-align: right;
    width: 100%;
    -webkit-transition-property: width;
    transition-property: width;
    -webkit-transition-duration: .15s;
    transition-duration: .15s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    border: 0;
    padding: 0;
    background: 0 0;
}

.hamburger-menu {
    width: 50px;
    height: 50px;
    position: relative;
    border: none;
    background: transparent;
    appearance: none;
    padding: 10px;
    cursor: pointer;
    text-align:right;
    left: 100px;
  }

  .hamburger-menu-shrunk {
    width: 50px;
    height: 50px;
    position: relative;
    border: none;
    background: transparent;
    appearance: none;
    padding: 10px;
    cursor: pointer;
    text-align:right;
    left: 0px;
    color:#001306;
  }


  .hamburger-menu__bar {
    display: inline-block;
    width: 44%;
    height: 2px;
    background: #ffffff;
    position: absolute;
    margin-right: 8px;
  }
  .hamburger-menu__bar:first-child {
    top: 16px;
  }
  .hamburger-menu__bar:nth-child(2) {
    top: 24px;
  }
  .hamburger-menu__bar:last-child {
    top: 32px;
  }



.btn-logout {
	padding: 3px;
  border-radius: 5px;
	font-weight: bold;
	border: 2px solid #4CAF93;
	color: #4CAF93;
	transition: 0.5s;
  position: fixed;
  top: 20px;
  right: 105px;
}

.btn-logout:hover {
	color: #fff;
	background: #4CAF93;
}


/* 表 */

table {
  border-collapse:  collapse; /* セルの線を重ねる */
  /* width:  100%;               幅指定 */
  font-size: 90%;
  max-width: 100%;
}


table th,td{
  border:1px solid #333;
  padding: 16px;
  margin: 10px;
}

/* 表（編集） */
.editTable {
  min-width: 20px;
}

/* 表（名前） */
.nameTable {
  min-width: 80px;
}


/* 表（フリガナ） */
.huriganaTable {

  min-width: 140px;
}

/* 表（メールアドレス） */
.mailTable {
  width: 20px;
}

/* 表（電話番号） */
.phoneTable {
  width: 20px;
}

/* 表（都道府県） */
.prefecturesTable {
  min-width: 60px;
}

/* 表（市町村） */
.municipalityTable {
  width: 15px;
}

/* 表（番地・アパート名） */
.addressTable {
  max-width: 200px;
}

/* 表（備考欄） */
.remarkTable {
  max-width: 400px;
}

/* アカウント一覧 */
.account-name{
 padding: 40px;
}

/* テーブルが通常時 */
.table-part {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  width: calc(96% - 160px);
  font-style: normal;
  margin-left: 180px;
  max-width: 100%;
}

/* テーブルが閉まったとき */
.table-part-shrunk {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  width: calc(85% - 90px);
  font-style: normal;
  margin-left: 100px;
  /* max-width: 1000px; */
}


/* 新規登録ボタン */
.new-register {
    margin-top: 20px; /* テーブルとの間隔を調整 */
    text-align: right; /* ボタンを右揃え */
}

.btn-solid {
  color: #fff;
  /* border-top: 4px solid #48ecc4;
  border-right: 4px solid #0a5f4a;
  border-bottom: 4px solid #0f745b;
  border-left: 4px solid #8cf9de; */
  border-radius: 10px;
  background: #11a37f;
  padding: 8px 16px;
  margin: 10px;
  text-decoration: none;
  display: inline-block;
}

.btn-solid:hover {
  color: #fff;
  background: #c7efe5;
  /* border-top: 4px solid #0f745b;
  border-right: 4px solid #8cf9de;
  border-bottom: 4px solid #48ecc4;
  border-left: 4px solid #0a5f4a; */
}

.fa-pen-to-square {
  color: #979898
}

.fa-trash {
  color: #D92323;
}

.registration {
  margin: 5px;
  padding: 5px;
  font-weight: bold;
}

/* 新規登録 */

/* 全体 新規登録画面　create　new_registration　*/
.new_registration{
  max-width: 100%;
}


/* アカウント一覧　新規登録画面　create　new_registration */
.accounts_list {
  padding: 10px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 24px;
  font-weight: normal;
}

/* 登録部分を囲う　 新規登録画面　create　new_registration　*/
.box {
  border: solid 1px #b0b0b0;
  margin: 10px;
}

/* 全体 新規登録画面　create　new_registration　*/
.create {
  font-family: "Noto Sans JP";
  font-optical-sizing: auto;
  font-weight: 400;
  width: calc(100% - 150px);
  font-style: normal;
  margin-left: auto;
  background-color: #F6F9FC;
}

.create-shrunk {
  font-family: "Noto Sans JP";
  font-optical-sizing: auto;
  font-weight: 400;
  width: calc(100% - 80px);
  font-style: normal;
  margin-left: auto;
  background-color: #F6F9FC;
}

/* 各項目 新規登録画面　create　new_registration　*/
.fill{
  display:flex;
  margin: 10px;
  padding: 10px;

}

/* 必須マーク 新規登録画面　create　new_registration　*/
.required{
	color: #fff;
	background: #4CAF93;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

/*　記入欄の名前　新規登録画面　create　new_registration */
.itemName{
  margin: 5px;
  padding: 5px;
}

/*　郵便番号　新規登録画面　create　new_registration */
.postal-code-group {
  margin: 5px;
}

/*　枠　新規登録画面　create　new_registration */
.input-elea {
  margin-left: 30px;
}

/* 都道府県　枠　新規登録画面　create　new_registration */
.prefecture_elea {
  margin-left: 30px;
  height: 30px;
  width: 97%;
  background-color: #F7F7F7;
}


/*　枠　新規登録画面　create　new_registration */
.input-field,.input-field-number,.prefecture_elea::placeholder {
  opacity: 0.5;
}

/* 枠　新規登録画面　create　new_registration */
.input-field {
  margin: 5px;
  font-weight: bold;
  width: 95%;
}

.input-field-number {
  margin: 5px;
  font-weight: bold;
  width: 10%;
}

/* 備考欄枠　新規登録画面　create　new_registration */
.remarksColumn {
  margin: 5px;
  font-weight: bold;
  width: 500px;
  height: 100px;
}

/* 新規登録（電話）新規登録画面　create　new_registration */
.phone_input_group {
  margin-left: 30px;
}

/* 新規登録（郵便番号） 新規登録画面　create　new_registration*/
.postal-code-group{
  margin-left: 30px;
}

/* 登録するボタン　 新規登録画面　create　new_registration　*/
.new_registration_button{
  color: #000000;
  background-color: #FFFFFF;
  border-radius: 5px;
  border: 1px solid #000000;
  padding: 5px;
  margin-left: 30px;
}

/* 登録するボタン　 新規登録画面　create　new_registration　*/
.new_registration_button:hover{
  background-color: #caf7ea;
}

/* 都道府県名　 新規登録画面　create　new_registration*/
#prefecture {
  color: rgba(0, 0, 0, 1); 
  margin: 5px;
}

/* 都道府県名　 新規登録画面　create　new_registration　*/
#prefecture option {
  color: rgba(0, 0, 0, 1); /* 選択肢は通常の色 */
}


/* エラーメッセージ　新規登録画面　create　new_registration */
.error-message-create {
  color :#ff0000;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 10px;
}


/* 編集 */
.container {
  width: 50%; /* フォーム全体の幅を調整 */
  margin: 0 auto; /* 中央寄せ */
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

label {
  width: 150px; /* ラベルの固定幅 */
  text-align: right; /* ラベルを右寄せ */
  margin-right: 10px; /* ラベルと入力欄の間の余白 */
}

input {
  flex: 1; /* 入力欄を残りのスペースに広げる */
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.update-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.update-button:hover {
  background-color: #45a049;
}

/* 削除ボタン アカウント一覧 account　*/
.delete-button {
  background: none;
  border: none;
  color: #ff4d4d; /* 赤色 */
  cursor: pointer;
  font-size: 16px;
}

/* 削除ボタン　アカウント一覧 account */
.delete-button:hover {
  color: #ff0000; /* マウスホバー時に濃い赤に */
}


