.Form{
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
}
@media screen and (max-width:480px){
    .Form{
        margin-top: 40px;
    }
}

.Form-Item {
    border-top: 1px solid #ddd;
    padding-top: 24px;
    padding-bottom: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}
@media screen and(max-width:480px) {
    .Form-Item{
        padding-left: 14px;
        padding-right: 14px;
        padding-top: 16px;
        padding-bottom: 16px;
        flex-wrap: wrap;
    }
}



.Form-Item-Label{
    width: 100%;
    max-width: 248px;
    letter-spacing: 0.05em;
    font-weight: bold;
    font-size: 18px;
}

@media screen and(max-width:480px){
    .Form-Item-Label{
        max-width: inherit;
        display: flex;
        align-items: center;
        font-size: 15px;
    }
}


.Form-Item-Label.isMsg{
    margin-top: 8px;
    margin-bottom: auto;
} 

@media screen and(max-width:480px){
    .Form-Item-Label.isMsg{
        margin-top: 0;
    } 
}

.Form-Item-Label-Required{
    border-radius : 6px;
    margin-right: 6px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 48px;
    display: inline-block;
    text-align: center;
    color: #fff;
    background: #5bc8ac;
    font-size: 14px;
}

@media screen and(max-width: 480px){
    .Form-Item-Label-Required{
        border-radius: 4px;
        padding-top: 4px;
        padding-bottom: 4px; 
        width: 32px;
        font-size: 10px;
    }
  
}

.Form-Item-Input{
    border: 1px solid #ddd ;
    border-radius: 6px;
    margin-left: 40px;
    padding-left: 1em;
    padding-right: 1em;
    height: 48px;
    flex: 1;
    width: 100%;
    max-width: 410px;
    background: #eaedf2;
    font-size: 18px;
}

.Form-Item-Input-white{
    border: 1px solid #ddd ;
    border-radius: 6px;
    margin-left: 40px;
    padding-left: 1em;
    padding-right: 1em;
    height: 48px;
    flex: 1;
    width: 100%;
    max-width: 410px;
    font-size: 18px;
}

.Form-Item-Input-gender{
    border-radius: 6px;
    margin-left: 40px;
    padding-left: 1em;
    padding-right: 1em;
    height: 48px;
    flex: 1;
    width: 100%;
    max-width: 410px;
    font-size: 18px;
}

@media screen and (max-width: 480px){
    .Form-Item-Input{
      margin-left: 0;
      margin-top: 18px;
      height: 40px;
      flex: inherit;       
      font-size: 15px;
    }
    
}

.Form-Item-Textarea {
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-left: 40px;
    padding-left: 1em;
    padding-right: 1em;
    height: 216px;
    flex: 1;
    width: 100%;
    max-width: 410px;
    background: #eaedf2;
    font-size: 18px;
}
@media screen and (max-width:480px) {
    .Form-Item-Textarea {
        margin-top: 18px;
        margin-left: 0;
        height: 200px;
        flex: inherit;
        font-size: 15px;
    }  
}


.Form-Btn {
    border-radius : 6px;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 180px;
    display: block;
    letter-spacing: 0.05em;
    background-color: #5bc8ac;
    color: #FFF;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    transition: .4s;
}

@media screen and(max-width: 480px) {
   .Form-Btn {
    margin-top: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 160px;
    font-size: 16px;
   }
}

.Form-Btn:hover {
    background-color :#FFF;
    border-color: #0a0a0a;
    color: #001306;
    opacity: 0.3;
}

.error-message{
    color :#ff0000;
    margin-left: 40px;
    padding-left: 1em;
    padding-right: 1em;
}

.wrap {
    display:flex;
    align-items: center;
    justify-content: center;
  }

  .Form-thanks{
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-weight: bold;
    font-size: 40px;
    color: #2e8b57;
    background-color: #d5edda;
    max-width: 720px;
    padding: 10px;
  }

  .Form-confirm{
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
    border-top: 1px solid #ddd;
    padding-top: 24px;
    padding-bottom: 24px;
    width: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    letter-spacing: 0.05em;
    font-weight: bold;
    font-size: 18px;
  }



@media screen and (max-width:480px){
    .Form-confirm{
        margin-top: 40px;
        padding-left: 14px;
        padding-right: 14px;
        padding-top: 16px;
        padding-bottom: 16px;
        flex-wrap: wrap;
        max-width: inherit;
        display: flex;
        align-items: center;
        font-size: 15px;
    }
}


/* login　↓ */
.container {
    border-top: 20px solid #5BC8AC;
    display: flex;
    align-items: center;
    justify-content: center;
   
    
}

.justify-content-center{
    /* text-align: center; */
    line-height: 250%;
    margin-top: 350px;
    margin-left: 350px;
    margin-right: 350px;
    margin-bottom: 350px;
    width: 300px;
    height: 300px;
    padding: 80px;
    
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}


/* 管理画面 */
.card-header{
    text-align: center;
    font-size: 30px;
}


/* 入力欄 */
.form-control {
    width: 295px;
    height: 30px;
}

/* ボタン */
.btn-primary {
    font-size: 25px;
    background-color: #5BC8AC;
    color: #ffffff;
    width: 300px;
    height: 50px;
    border-radius: 5%;
    border: 0px;
    cursor: pointer;
}

.col-md-8 {
    text-align: left
}

/* エラーメッセージ　↓ */
.invalid-feedback{
    color: #ff0000;
}

